.card {
  border: 1px solid #ddd;
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card-name {
  margin-left: 8px;
  font-weight: bold;
}

.card-content {
  margin: 16px 0;
  text-align: left;
  cursor: pointer;
}

.card-actions {
  display: flex;
  gap: 16px;
}

.icon {
  cursor: pointer;
}
